job-dept-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 0.5em;
  color: #000;
}

.job-position-title {
  font-size: 30px;
  font-weight: bolder;
  margin-bottom: 0.5em;
  color: #000;
}

.job-apply-btn {
  padding-bottom: 3.5em;
  border-bottom: 1px solid #ccc;
}

.job-apply-btn .btn-apply {
  color: #fff;
  border-radius: 25px;
  font-size: 1em;
  padding: 0.5em 1em;
  background-color: #4b96e6;
  border: 1px solid #4b96e6;
  width: 250px;
}

.job-description {
  padding-top: 2em;
  padding-bottom: 2em;
  word-wrap: break-word;
  float: left;
  font-size: 1.1em;
  width: 70%;
}

.job-description .job-description-title {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 0.5em;
  color: #000;
}

.job-description-text li {
  list-style: disc;
}

.other-jobs {
  float: right;
  margin-top: 5rem !important;
  background-color: #dfe6ef;
  padding: 30px;
  border: 1px solid #ccc;
}

.other-jobs .other-jobs-title {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 0.5em;
  /*all caps*/
  text-transform: uppercase;
  color: #000;
  border-bottom: #ccc 1px solid;
}

.other-jobs .job-title {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 0.5em;
  color: #000;
}

.social-media {
  margin-right: 315px !important;
  float: right;
  padding: 30px;
}

.social-media .social-media-title {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 0.5em;
  /*all caps*/
  text-transform: uppercase;
  color: #000;
  border-bottom: #ccc 1px solid;
}

.social-media .social-media-icons {
  font-size: 1.5em;
  margin-bottom: 0.5em;
  color: #000;
}
.ApplyButton {
  background: #646cff;
  color: #fff;
  width: 12rem;
  height: 3.2rem;
  border-radius: 2rem;
}

.HeaderUnderLine1 {
  background: #4b96e6;
  width: 5.8rem;
  height: 0.25rem;
  margin-bottom: 1.5rem;
}
